* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000417;
  color: #d8d8d8;
}
.container {
  width: 100%;
  height: 100vh;
  min-width: 320px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.info {
  color: #fff;
}

.info img {
  width: 40px;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 10px;
}
.info h1 {
  font-size: 3.6rem;
  margin-bottom: 5px;
}
.info p {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.info a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin-bottom: 50px;
}
.form {
  margin-top: 30px;
  width: 220px;
}
.form input {
  padding: 10px;
  border: none;
  margin: 10px 0;
  outline: none;
}
.textarea {
  border-radius: 5px;
  outline: none;
  background-color: #4b5378;
}
.input-icono {
  background-image: url("single-03\ 1.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 190px;
  padding-left: 28px;
  height: 38px;
  border: 1px solid #4b5378;
  border-radius: 3px;
  background-color: #4b5378;
}
.input-icono input {
  background-color: #4b5378;
  width: 100%;
  font-size: 0.9em;
  border: none;
  color: #fff;
}
.input-icono2 {
  background-image: url("/mail.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 190px;
  padding-left: 28px;
  height: 38px;
  border: 1px solid #4b5378;
  border-radius: 3px;
  background-color: #4b5378;
}
.input-icono2 input {
  background-color: #4b5378;
  width: 100%;
  font-size: 0.9em;
  border: none;
  color: #fff;
}
.input-icono3 {
  background-image: url("/access-key\ 1.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 190px;
  padding-left: 28px;
  height: 38px;
  border: 1px solid #4b5378;
  border-radius: 3px;
  background-color: #4b5378;
}
.input-icono3 input {
  background-color: #4b5378;
  width: 100%;
  font-size: 0.9em;
  border: none;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .info {
    margin-bottom: 100px;
  }
  p {
    margin-right: 50px;
  }
  .form {
    margin-left: 10px;
    margin-bottom: -30px;
  }
}
